@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#smooth-wrapper {
  position: fixed; 
  inset: 0; 
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#smooth-content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: visible;
  will-change: transform;
}


/* @media (max-width: 767px) and (orientation: landscape) {
  .mobile-landscape-height {
    height: 300vh;
  }
} */
